.heading {
    background-color: rgb(0, 0, 90);
    text-align: center;
    height: 400px;
    width: 100%;
    padding-top: 12rem;
    h1 {
        font-size: 4.5rem;
        color: white;
    }
    p {
        margin-top: -2rem;
        font-size: 0.95rem;
        color: white;
        font-weight: bold;
    }
    h2 {
        margin-top: -1rem;
        font-size: 0.95rem;
        color: white;
        font-weight: bold;
    }
}

.page {
    background: rgb(255, 255, 255);
    text-align: center;
    h1{
        padding-top: 2rem;
        font-size: 3rem;
        color: rgb(0, 0, 90);
        font-weight: lighter;
        padding-bottom: 2rem;
    }
    p{
        font-size: 1.2rem;
        color: rgb(0, 0, 90);
        font-weight: bold;
    }
    h2{
        font-size: 1.2rem;
        color: rgb(0, 0, 90);
        font-weight: bold;
        margin-top: -1rem;
    }
}

.flex {
    padding: 5rem 3.5rem 5rem 2rem;
    display: flex;
}
.box1 {
    background-color: white;
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
    }
}

.box2 {
    background-color: rgba(0, 0, 90, 0.333);
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.box3 {
    background-color: rgba(0, 0, 90, 0.666);
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.box4 {
    background-color: rgb(0, 0, 90);
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.line {
    border-top: 1px solid lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

.h1{
    padding-top: 2rem;
    font-size: 2.5rem;
    color: rgb(0, 0, 90);
    font-weight: lighter;
    padding-bottom: 2rem;
    text-align: center;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    padding-right: 3rem;
    padding-left: 4rem;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    p{
        width:75%;
        margin-top: 0.15rem;
    }
}
.parent1 {
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.img{
    background-image: url("../components/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img2{
    background-image: url("../components/21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img3{
    background-image: url("../components/22.png");
    background-repeat: no-repeat;
    background-size: 130%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img4{
    background-image: url("../components/23.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img5{
    background-image: url("../components/24.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img6{
    background-image: url("../components/25.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img7{
    background-image: url("../components/26.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img8{
    background-image: url("../components/27.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img9{
    background-image: url("../components/28.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.img10{
    background-image: url("../components/29.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: 0.3px solid rgb(85, 85, 85);
    margin-right: 0.4rem;
}
.child {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: left;
    margin-bottom: 20rem;
    box-shadow: 0 0 25px lightgray;
    padding: 2rem 1.5rem 2rem 1.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.child5 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: left;
    margin-bottom: 22rem;
    box-shadow: 0 0 25px lightgray;
    padding: 2rem 1.5rem 2rem 1.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.child2 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: -2rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2rem 1.5rem 2rem 1.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.parent2 {
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 23rem;
    margin-right: 2.5rem;
}
.child3 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: 17rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2rem 1.5rem 2rem 1.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.child4 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: 22rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2rem 1.5rem 2rem 1.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.parent3 {
    display: flex;
    flex-direction: column;
}
.verticalLine1 {
    border-left:thick solid rgb(0, 0, 90);
    margin-bottom: 15rem;
    margin-top: 4.5rem;
    height: 17.5rem;
    margin-left: 3.6rem;
     } 


.circle_container {
	width : 70px;
	height : 70px;
	margin : 0;
    padding : 0;
}

.circle_main1 {
	width : 100%;
	height : 100%;
	border-radius : 50%;
	border : 2px solid rgb(0, 0, 90);	
	margin : 0;
    padding : 0;
    margin-left: 1.5rem;
    margin-top: 4.4rem;
}

.circle_text_container {
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	position : relative;
	left : 15%;
	top : 15%;
	transform-style : preserve-3d;
}

.circle_text{
	font: 17px "Tahoma", Arial, Serif;	
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

.circle_main2 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(0, 0, 90);	
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }

.verticalLine2 {
        border-left:thick solid rgb(0, 0, 90);
        margin-bottom: 15rem;
        margin-top: -14.8rem;
        height: 180px;
        margin-left: 3.6rem;
         } 

.circle_main3 {
            width : 100%;
            height : 100%;
            border-radius : 50%;
            border : 2px solid rgb(0, 0, 90);
            background-color: rgb(0, 0, 90);
            opacity: 33%;	
            margin : 0;
            padding : 0;
            margin-left: 1.5rem;
            margin-top: -15rem;
        }

.verticalLine3 {
            border-left:thick solid rgb(0, 0, 90);
            margin-bottom: 15rem;
            margin-top: -14.8rem;
            height: 190px;
            margin-left: 3.6rem;
             } 

.verticalLine4 {
                border-left:thick solid rgb(0, 0, 90);
                margin-bottom: 15rem;
                margin-top: -14.8rem;
                height: 220px;
                margin-left: 3.6rem;
                 } 

.verticalLine5 {
                    
    border-left:thick solid rgb(0, 0, 90);
    margin-bottom: 14.5rem;
    margin-top: -14.8rem;
    height: 210px;
    margin-left: 3.6rem;
    } 

.circle_text2 {
        font: 17px "Tahoma", Arial, Serif;
        color: white;	
        text-align : center;
        position : relative;
        top : 50%;
        transform : translateY(-50%);
    }

.circle_main4 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(0, 0, 90);
        background-color: rgb(0, 0, 90);
        opacity: 66%;	
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }

.circle_main5 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(0, 0, 90);
        background-color: rgb(0, 0, 90);	
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }
