.logo{
    margin-top: -0.3rem;
    position : fixed;
    z-index: 1111111;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  z-index: 111;
}

.nav {
    position: fixed;
    font-size: 0.9em;
    color: white;
    float: right; /* Clear floats */
    width: 100%;
    top: 0 ;
    margin: 0;
    list-style: none;
    font-weight: lighter;
    background: linear-gradient(to right, rgb(67, 109, 98) , rgb(27, 95, 75));
    z-index: 1111;
    
}
.parent {
    margin-right: 3rem;
}
.nav li {
    z-index: 111;
    position: relative;
    float: right;
    p {
        padding: 0.7em;
        color: white; 
        margin-right: 2rem;
        padding-right: 30px;
    }
    a{
        text-decoration: none;
    } 
}
.nav p:hover{
    color: rgb(118, 224, 193);
}

/*--- DROPDOWN ---*/
.nav__sub_menu {
    background:  linear-gradient(to right, rgb(85, 107, 101) , rgb(5, 75, 54));
    padding:0;
    margin-top: -1.2rem;
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

.nav__sub_menu li {
    float: left;
    padding: 0em;
    line-height: 0rem;
    border-bottom: 1.4px solid rgb(118, 224, 193);
    width: 100%;
    a{
        text-decoration: none;
    }
}

.nav__sub_menu p{
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.nav li:hover ul{ /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

@media (max-width : 975px){
    .logo{
        width: 110px ;
        height:110px;
        margin-top: 20px;
        margin-left: 20px;
        position: fixed;
        
    }
    nav ul li a{
        font-size: 13px;
    }

}

@media (max-width : 890px){
.checkbtn{
    display: block;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -1000px;
    left: 0px;
    text-align: center;
    transition: all .5s;
    background-color: rgb(9, 112, 72); 
    li{
    color: black;
    display: block;
    margin-top: 10px;
        p{
        font-size: 18px;
        color: black;
        }
    }
}
.nav p:hover , p.active{
    background: none;
    color: yellow;
}

.check:checked ~ ul {
    top: 65px;
    
}
}