.body{
    background-image: url('./20.png');
    background-repeat: no-repeat;
    padding-top: 4rem;
    background-position: 200px 312px;
    background-size: 280px auto;
    scroll-behavior: smooth;
    background-color: rgb(51, 46, 43);
    
    h1{
        font-size: 2.3rem;
        color: white;
        text-align: center;
        font-weight: bolder;
    }
    p{
        font-size: 0.8rem;
        color: white;
        text-align: left;
        font-weight: bolder;
    }

}

.line {
    border-top: 1.5px solid rgb(0, 221, 173);
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: -1rem;
    margin-bottom: 4rem;
}
.circle_container {
	width : 70px;
	height : 70px;
	margin : 0;
    padding : 0;
}

.circle_main1 {
	width : 100%;
	height : 100%;
    border-radius : 50%;
    background-color: rgb(0, 221, 173);
	border : 2px solid rgb(0, 221, 173);	
	margin : 0;
    padding : 0;
    margin-left: 1.5rem;
    margin-top: -0.5rem;
    margin-left: 5rem;
}

.circle_text_container {
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	position : relative;
	left : 15%;
	top : 15%;
	transform-style : preserve-3d;
}

.circle_text{
    font: 32px "Tahoma", Arial, Serif;
    color: white;
    font-weight: bolder;	
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
.flex{
    display: flex;
    justify-content: flex-start;
    flex-shrink: none;
}
.child{
    h2{
        font-size: 1.3rem;
        color: white;
        text-align: center;
        font-weight: bolder;
        margin-left: 11rem;
        
    }
}
.heading1{
    margin-left: 57rem;
}

.circle_main2 {
	width : 17px;
	height : 17px;
    border-radius : 50%;
	border : 2px solid rgb(0, 221, 173);	
	margin : 0;
    padding : 0;
    margin-top: 1.7rem;
    margin-left: 0.6rem;
}
.h3{
    font-size: 1.3rem;
    color: rgb(49, 110, 94);
    margin-left: 50rem;
}
.box{
    margin-left: 2.5rem;
    margin-top: 1.3rem;
    width: 200px;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    h4{
        font-size: 0.9rem;
        color: rgb(0, 158, 124);
        text-align: left;
        margin: 0.5rem 0.5rem;
    }
}
.h5{
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
    text-align: left;
    font-weight: bolder;
    margin-top: 0.4rem;
}

.flex2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: none;
}
.margin{
    margin-top: -1.8rem;
}
.box2{
    margin-left: 2.5rem;
    margin-top: 1.3rem;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(0, 221, 173);
    background-color: rgb(0, 221, 173);
    h4{
        font-size: 0.9rem;
        color: white;
        text-align: left;
        margin: 0.5rem 0.5rem;
    }
}
.circle_main3 {
	width : 17px;
	height : 17px;
    border-radius : 50%;
    background-color: rgb(0, 221, 173);
	border : 2px solid rgb(0, 221, 173);	
	margin : 0;
    padding : 0;
    margin-top: 1.7rem;
    margin-left: 0.6rem;
}

.body2{
    padding-top: 3rem;
    background-color: lightgray;
    padding-bottom: 2rem;
    h1{
        font-size: 1.3rem;
        color: rgb(49, 110, 94);
        text-align: left;
        font-weight: bold;
        margin: 0rem 12rem;
        line-height: 1.9rem;
        margin-top: -1rem;
        margin-bottom: 3rem;
    }
    p{
        font-size: 0.8rem;
        color: black;
        text-align: left;
        font-weight: bolder;
        margin-left: 16.5rem;
        margin-top: -0.2rem;
    }
    a{
        font-size: 0.8rem;
        color: rgb(49, 110, 94);
        font-weight: bolder;
        margin-top: -0.2rem;
        text-decoration: none;
    }
}

.body3{
    padding-top: 2rem;
    background-color: white;
    padding-bottom: 2rem;
    p{
        font-size: 0.8rem;
        color: rgb(0, 158, 124);
        text-align: left;
        font-weight: lighter;
        margin: 0rem 12rem;
        line-height: 1.5rem;
    }
}

.body4{
    padding-top: 2rem;
    background: linear-gradient(to right, rgb(0, 221, 210) , rgb(0, 221, 166), rgb(0, 221, 155));
    padding-bottom: 2rem;
    p{
        font-size: 0.8rem;
        color: white;
        text-align: left;
        font-weight: lighter;
        margin: 0rem 12rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
}
.circle_main4 {
	width : 100%;
	height : 100%;
    border-radius : 50%;
    background-color: white;
	border : 2px solid white;	
	margin : 0;
    padding : 0;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-left: 5rem;
}
.circle_text2{
    font: 32px "Tahoma", Arial, Serif;
    color: rgb(0, 221, 210);
    font-weight: bolder;	
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
.circle_main5 {
	width : 100%;
	height : 100%;
    border-radius : 50%;
    background-color: white;
	border : 2px solid white;	
	margin : 0;
    padding : 0;
    margin-left: 1.5rem;
    margin-top: -0.5rem;
    margin-left: 5rem;
}
.body5{
    padding-top: 2rem;
    background: linear-gradient(to right, rgb(0, 221, 210) , rgb(0, 221, 166), rgb(0, 221, 155));
    padding-bottom: 2rem;
    p{
        font-size: 0.8rem;
        color: white;
        text-align: left;
        font-weight: lighter;
        margin: 0rem 12rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }
}
.body6{
    padding-top: 2rem;
    background: rgb(51, 46, 43);
    padding-bottom: 2rem;
    p{
        font-size: 0.8rem;
        color: white;
        text-align: left;
        font-weight: lighter;
        margin: 0rem 12rem;
        line-height: 1.5rem;
    }
}
