.body{
    background-color: rgb(228, 228, 228);
    padding-bottom: 3vw;
}

.flex{
    display: grid;
    grid-template-columns: auto auto;
}

.title{
    img{
        width: 28vw;
        height: auto;
        margin-left: 2.5vw;
        margin-right: 5.7vw;
        margin-top: 5.1vw;
    }
}
.titleout{
        h1{
        font-weight: bold;
        font-size: 5vw;
        margin-top: 10vw;
        margin-left: 2vw;
        }
        h2{
            font-size: 2.6vw;
            margin-left: 2vw;
            margin-top: -2vw;
            font-weight: lighter;
        }
        p{       
            font-size: 1.2vw;
            padding-top: 1.8vw;
            margin-left: 2vw;
            margin-right: 6vw;
            font-weight: lighter;
        }
    }
.button_padding{
    min-width: 2vw;
    max-width: 7vw;
    margin: -21vw 15vw 0vw 76vw;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    max-width: 8vw;
}
.button {
    background: linear-gradient(to right, rgb(57, 187, 148) , rgb(131, 218, 174)); 
    border: none;
    color: white;
    padding: 0.9vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 0.3vw;
    margin-top: 1.7vw;
}
.font_li{
    font-size: 3vw;
    margin: 0;
    font-weight: bold;
    list-style-type: none;
    
}
.font_li2{
    font-size: 0.6vw;
    margin: 0;
    font-weight: lighter;
    list-style-type: none;
    margin-top: -0.3vw;
    
}
@media screen and (max-width: 450px){
    .font_li2{
        margin-left: -4vw;
    }
    .font_li{
        margin-left: -4vw;
    }
}
.line  {
    border-right: 0.2vw solid black;
    height: 4vw;
    margin-left: 2vw;
    margin-top: 1vw;
}
.heading {
    text-align: left;
    padding-left: 30vw;
    font-size: 2.8vw;
    font-weight: bold;
    margin-bottom: 6vw;
    color: grey;
    letter-spacing: 0.9vw;
}
.parent1 {
    background-color: white;
}

.parent2 {
    padding-right: 1.8vw;
    padding-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.child1 {
    margin-top: -4.5vw;
    background: linear-gradient( rgb(0, 0, 90) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 13vw;
    width: 21vw;
    border-radius: 0.5vw;
    margin-left: 1.8vw;
    text-align: center;
    box-shadow: 0.3vw 0.3vw 0.3vw lightgray;
    button {
       height: 13vw;
       width: 22vw;
       border: none;
       background: none;
       font-size: 1.3vw;
       color: rgb(0, 0, 90);
       font-weight: bold;
       position: absolute;
       margin-left: -11vw;
    }
    h1{
        visibility: hidden;
        font-size: 1vw;
        color:white;
        padding: 2.4vw;;
        line-height: 1.2vw;
        text-transform: uppercase;
    }
  }
.child1:hover{
        background: rgb(0, 0, 90);
        opacity: 0.8;
        button {
            border: none;
            color:rgba(0, 0, 90, 0.8);
        }
        p {
            margin-top: -5vw;
        }
        h1{
            visibility: visible;
        }
}
.child2 {
    margin-top: -4.5vw;
    background: linear-gradient( rgb(250, 76, 105) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 13vw;
    width: 21vw;
    border-radius: 0.5vw;
    margin-left: 1.8vw;
    text-align: center;
    box-shadow: 0.3vw 0.3vw 0.3vw lightgray;
    button {
       height: 13vw;
       width: 22vw;
       border: none;
       background: none;
       font-size: 1.3vw;
       color: rgb(250, 76, 105);
       font-weight: bold;
       position: absolute;
       margin-left: -11vw;
    }
    h1{
        visibility: hidden;
        font-size: 1vw;
        color:white;
        padding: 2.4vw;;
        line-height: 1.2vw;
        text-transform: uppercase;
    }
  }
.child2:hover{
        background: rgb(250, 76, 105);
        opacity: 0.8;
        button {
            border: none;
            color:rgb(250, 76, 105);
        }
        p {
            margin-top: -5vw;
        }
        h1{
            visibility: visible;
        }
}
.child3 {
    margin-top: -4.5vw;
    background: linear-gradient( rgb(255, 238, 0) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 13vw;
    width: 21vw;
    border-radius: 0.5vw;
    margin-left: 1.8vw;
    text-align: center;
    box-shadow: 0.3vw 0.3vw 0.3vw lightgray;
    button {
       height: 13vw;
       width: 22vw;
       border: none;
       background: none;
       font-size: 1.3vw;
       color: rgb(255, 238, 0);
       font-weight: bold;
       position: absolute;
       margin-left: -11vw;
    }
    h1{
        visibility: hidden;
        font-size: 1vw;
        color:white;
        padding: 2.4vw;;
        line-height: 1.2vw;
        text-transform: uppercase;
    }
}
.child3:hover{
    background: rgb(255, 238, 0);
    opacity: 0.8;
    button {
        border: none;
        color:rgb(255, 238, 0);
    }
    p {
        margin-top: -5vw;
    }
    h1{
        visibility: visible;
    }
}
.child4 {
    margin-top: -4.5vw;
    background: linear-gradient( rgb(39, 133, 139) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 13vw;
    width: 21vw;
    border-radius: 0.5vw;
    margin-left: 1.8vw;
    text-align: center;
    box-shadow: 0.3vw 0.3vw 0.3vw lightgray;
    button {
       height: 13vw;
       width: 22vw;
       border: none;
       background: none;
       font-size: 1.3vw;
       color: rgb(39, 133, 139);
       font-weight: bold;
       position: absolute;
       margin-left: -11vw;
    }
    h1{
        visibility: hidden;
        font-size: 1vw;
        color:white;
        padding: 2.4vw;;
        line-height: 1.2vw;
        text-transform: uppercase;
    }
}
.child4:hover{
    background: rgb(39, 133, 139);
    opacity: 0.8;
    button {
        border: none;
        color:rgb(39, 133, 139);
    }
    p {
        margin-top: -5vw;
    }
    h1{
        visibility: visible;
    }
}
.heading2 {
    text-align: left;
    margin-left: 5.5vw;
    font-size: 2.3vw;
    font-weight: bold;
    margin-bottom: 3vw;
    color: grey;
    letter-spacing: 0.9vw;
}
.parent3 {
    display: flex;
    overflow-x: auto;  
    scroll-behavior: smooth;
    padding-bottom: 2vw;
    margin-right: 4vw;
    margin-left: 3.1vw
}

.box {
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 0;
    background: linear-gradient(to right, rgb(140, 140, 140) , rgb(46, 46, 46));
    flex-grow: 1;
    height: 13vw;
    width: 24vw;
    text-align: center;
    margin-left: 2vw;
    p {
        margin-top: 5.7vw;
        font-size: 1.2vw;
        color: white;
        font-weight:lighter;
        letter-spacing: 0.35vw;
        padding: 0.5vw;
    }
}
.line2  {
    border-bottom: 0.3vw solid black;
    width: 8vw;
    margin-left: 5.5vw;
    margin-top: 2vw;
}
.parent4 {
    background: darkslategrey;
    scroll-behavior: smooth;
    margin-bottom: -5vw; 
}
.heading3 {
    font-size: 2.5vw;
    font-weight:bold;
    color: white;
    padding-left: 5vw;
    padding-top: 3vw;
      
}
.videos{
font-size: 1vw;
font-weight: bold;
line-height: 1.5vw;
color: #212529;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
height: 50vw;
}

.videobox{
    float: left;
    padding: 3px;
    height: 80%;
    width: 60%;
    box-sizing: border-box;
    height: 34.8vw;
    position: relative;
}

.videolist{
color: #212529;
box-sizing: border-box;
position: relative;
width: 100%;
min-height: 0.1vw;
flex: 0 0 33.333333%;
max-width: 33.333333%;
order: 0;
}

.vidlist{
font-size: 1vw;
font-weight: bold;
color: #f4f8fc;
box-sizing: border-box; 
transition: .3s;
}
.vidobbject{
    font-size: 1vw;
    color: #212529;
    box-sizing: border-box;
    cursor: pointer;
    list-style-type: none;
}
.presidentSaysvideolist{
font-size: 1vw;
color: #212529;
box-sizing: border-box;
background-color: #484848;
overflow-y: scroll;
}

.PresidentSaysVideoflexbox{
font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
width: 100%;
display: flex;
height: 7vw;
}



.vidlistbox{
    scroll-behavior: smooth;
    float: right;
    display: flex;
    overflow-y: scroll; 
font-size: 1vw;
color: #212529;
box-sizing: border-box;
position: relative;
width: 40%;
min-height: 1vw;
max-height: 34.6vw;
order: 13;
}
.vidlistimg1{
font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://i.ytimg.com/vi/_rUQ301EJAo/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAtBZodxxHyobIDP13zgWTQ92E-hQ");
}
.vidlistimg2{
    font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://i.ytimg.com/vi/RuYbBHHF4VM/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLABXcLM3C6FliZCd7LcHmdfftlMyw");

}
.vidlistimg3{
    font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://i.ytimg.com/vi/sqtc7s1KZEg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBNwQn7v_KMACOFna29uryb3EpPzg");

}
.vidlistimg4{
    font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://img.youtube.com/vi/x5LRuwdi0aQ/mqdefault.jpg");
}
.vidlistimg5{
font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://i.ytimg.com/vi/7fjcWkDFbcg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAJ712JI48vC7_tJQmhlOjnsIEx_A");
}
.vidlistimg6{
font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
height: 100%;
background-position: 50%;
background-size: cover;
background-image: url("https://i.ytimg.com/vi/C5iWrmShgv0/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDIg51jaxOVb5IXJMC2pdnmunOeng");

}
.vidlistimg7{
    font-size: 1vw;
    color: #212529;
    cursor: pointer;
    list-style-type: none;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-image: url("https://i.ytimg.com/vi/5p8oJVVg2P4/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAXEtZvFoYIbr2qr3o_yZ_qZ-0G8Q");}

.vidlistimg8{
    font-size: 1vw;
    color: #212529;
    cursor: pointer;
    list-style-type: none;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-image: url("https://i.ytimg.com/vi/dRm0Y7n7xzU/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDXHaTnhJFYmoWLruA5N5m8Wpog0g");
}

.vidlistcontent{
font-size: 1vw;
color: #212529;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
display: inline-block;
width: 50%;
padding-left: 1.5%;
h4{
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
transition: .3s;
font-weight: 500;
line-height: 1;
color: #04c492!important;
text-decoration: underline;
font-family: myfontRegular;
font-size: 1.1vw;
text-align: left;
margin: 0 0 0.2vw;
display: -webkit-box;
max-height: 3.5vw;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
-webkit-line-clamp: 2;
}
p{
font-weight: 400;
line-height: 1.5;
cursor: pointer;
list-style-type: none;
box-sizing: border-box;
transition: .3s;
margin-top: 0;
margin-bottom: 1rem;
max-height: 3vw;
overflow: hidden;
font-family: myfontLight;
font-size: 1vw;
text-align: left;
color: #fff;
}
}


.play{
line-height: 4;

color: #212529;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
box-sizing: border-box;
width: 100%;
height: 100%;
}



.head {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background: rgb(36, 49, 53);
}

.address {
    margin-right: 12vw;
    margin-left: 4vw;
    h1{
        font-size: 1vw;
        color: white;
        font-weight: lighter;
        margin-right: 1vw;
        margin-top: 4vw;
    }
    p{
        font-size: 0.8vw;
        color: white;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
    }
}

.address2 {
    margin-right: 12vw;
    margin-top: 4vw;
    h1{
        font-size: 1vw;
        color: white;
        font-weight: lighter;
    }
    p{
        font-size: 0.8vw;
        color: white;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
    }
}

.address3 {
    margin-right: 12vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    h1{
        font-size: 1vw;
        color: white;
        font-weight: lighter;
    }
    p{
        font-size: 0.8vw;
        color: white;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
    }
}
.super {
    background-color: rgb(0, 221, 173);
    height: 52vw;
    padding-top: 2vw;
    margin-bottom: -3vw;
    h1 {
        font-size: 2.2vw;
        color: white;
        font-weight: bolder;
        padding-top: 1vw;
        margin-left: 4vw;
        margin-bottom: -2.5vw;
    }
}
.spotlight{
    display: flex;
}

.image{   
width: 52vw;
height: 30vw;
background-repeat: no-repeat;
background-size: cover;
background-image: url("./1.jpg");
margin-left: 1.5vw;
margin-right: 2vw;
margin-top: 4.5vw;

}

.text {
    height: 30vw;
    width: 32vw;
    margin-right: 5vw;
    margin-top: 7vw;
    text-align: left;
    margin-left: 1vw;
    p{
        font-size: 1.2vw;
        color: rgb(227, 229, 255);
        font-weight: lighter;
        word-spacing: 0.5vw;
        line-height: 1.3vw;
    }
    h2 {
        font-size: 1.7vw;
        caret-color: black;
        font-weight: bolder;
        margin-top: 5vw;
        text-transform: capitalize;
}
}

.spotlight2{
    display: flex;
    overflow-x: auto;  
    scroll-behavior: smooth;
    padding-bottom: 2vw;
    margin-left: 2.9vw;
    margin-right: 3vw;
}

.image2{
width: 52vw;
height: 30vw;
background-repeat: no-repeat;
background-size: cover;
background-image: url("./2.jpg");
margin-left: 1.5vw;
margin-right: 2vw;
margin-top: 4.5vw;
    }

.image3{
    width: 52vw;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./2.jpg");
    margin-left: 1.5vw;
    margin-right: 2vw;
    margin-top: 4.5vw;
        }

.partner {
    background: rgb(230, 230, 230);
    padding-top: 2vw;
    h1 {
        font-size: 1.7vw;
        color: rgb(0, 0, 90);
        font-weight: bolder;
        letter-spacing: 0.3vw;
        text-align: center;
        margin-top: 4vw;
    }
}
.logos{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    margin: 3vw 0vw 0vw 0vw;
    padding-bottom: 6vw;
}
.items {
    margin-right: 5vw;
    img{
        height: 4vw;
        width: auto;
    }
}
.x{
    margin-right: 0.8vw;
    img{
        width: 1.7vw;
        height: auto;
    }
}
.add2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.y{
    margin-left: -8.3vw;
    img{
        width: 1.4vw;
        height: auto;  
    }
}
.z{
    margin-left: -5.5vw;
}
.b{
    margin-left: -10.5vw;
}
.c{
    margin-left: -2.5vw;
}